{% extends 'crm/base.html' %}
{% load static %}

{% block title %}Настройки Email - CRM Pro{% endblock %}
{% block nav_menu %} {% include "crm/partials/navmenu.html" %} {% endblock %}
{% block mobile_menu %} {% include "crm/partials/mobilemenu.html" %} {% endblock %}
{% block breadcrumbs %}
    {#    <nav class="text-sm breadcrumbs">#}
    <ul>
        <li>
            <a class="fa-solid fa-folder hover:underline cursor-pointer gap-2 items-center"
               href="{% url 'users:dashboard' %}">Главная</a>
        </li>
        <li><a class="fa-solid fa-folder hover:underline cursor-pointer gap-2 items-center"
               href="{% url 'emails:email_list' %}">Email</a></li>
        <li><a href="{% url 'emails:credentials' %}">Настройки</a></li>
    </ul>
    {#    </nav>#}
{% endblock %}
{% block sidebar %}
    <div class="space-y-3">
        {% include "emails/partials/syncstatus.html" %}
        {% include "emails/partials/settingshelp.html" %}
    </div>
{% endblock sidebar %}
{% block content %}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Настройки подключения к Exchange -->
        <div class="lg:col-span-2">
            {% include "emails/partials/exchsettings_form.html" %}
            {% include "emails/partials/processingrules.html" %}
        </div>
        <!-- Sidebar -->
        <div class="space-y-3">
            {% include "emails/partials/testconnection_form.html" %}
            {% include "emails/partials/synclogs.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {#    <script src="{% static 'js/emailcredent.js' %}"></script>#}
{% endblock %}